<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="uyun.hornet.wx.dao.WechatUserDao">
    <resultMap id="wechatUserResultMap" type="uyun.hornet.wx.bean.WechatUser">
        <result property="id" column="id" />
        <result property="openId" column="openId" jdbcType="VARCHAR"/>
        <result property="userId" column="userId" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenantId" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="cookieTime" column="cookieTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="wechat_column">
        user_id,tenant_id,open_id,nick_name,binding_time,expire_time,create_time
    </sql>

    <insert id="createUser">
        insert into wechatUser (<include refid="wechat_column"/>)
        values(#{id},#{openId},#{userId},#{tenantId},#{username},#{cookieTime})
    </insert>

</mapper>